@model Bloomfiy_final.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="profile-edit-container">
    <h2>Create Account</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "profile-edit-form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <label>First Name</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "input-field" })

        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName, new { @class = "input-field" })

        <label>Address</label>
        @Html.TextBoxFor(m => m.Address, new { @class = "input-field" })

        <label>Phone Number</label>
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "input-field" })

        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "input-field" })

        <label>Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "input-field" })

        <label>Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-field" })

        <button type="submit" class="save-btn">Register</button>
    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
