@model Bloomfiy_final.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="profile-edit-container">
    <h2>Change Password</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="profile-edit-form">

            <label>Current Password</label>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "input-field" })

            <label>New Password</label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "input-field" })

            <label>Confirm New Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-field" })

            <button type="submit" class="save-btn">Update Password</button>
        </div>
    }

    <div style="text-align:center; margin-top:20px;">
        @Html.ActionLink("Back to My Account", "Index", "Manage", null, new { @class = "btn-green" })
    </div>
</div>
